body {
	background-color: white;
}

.flex-container {
	display: flex;
	gap: 10px;
}

#red {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f44336;
	color: white;
	height: 40px;
	width: 50vw;
	border-radius: 5px;
	margin-top: 30px;
}

#blue {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2196f3;
	color: white;
	height: 40px;
	width: 50vw;
	border-radius: 5px;
	margin-top: 30px;
}

#green {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4caf50;
	color: white;
	height: 40px;
	width: 60vw;
	border-radius: 5px;
	margin-top: 10px;
}

#yellow {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffeb3b;
	color: black;
	height: 40px;
	width: 40vw;
	border-radius: 5px;
	margin-top: 10px;
}
#purple {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #aa3bff;
	color: white;
	height: 40px;
	width: 50vw;
	border-radius: 5px;
	margin-top: 10px;
}
#orange {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff623b;
	color: white;
	height: 40px;
	width: 50vw;
	border-radius: 5px;
	margin-top: 10px;
}

#red:hover,
#blue:hover,
#green:hover,
#yellow:hover,
#purple:hover,
#orange:hover {
	background-color: transparent;
}

@media screen and (max-width: 600px) {
	.flex-container {
		flex-direction: column;
		gap: 0;
	}

	#red {
		width: 100%;
		height: 50px;
	}

	#blue {
		margin-top: 10px;
		width: 100%;
		height: 50px;
	}
	#green {
		width: 100%;
		height: 50px;
	}
	#yellow {
		width: 100%;
		height: 50px;
	}
	#purple {
		width: 100%;
		height: 50px;
	}
	#orange {
		width: 100%;
		height: 50px;
	}
}
